* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b3535377;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23b35353' fill-opacity='0.4'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(87, 5, 5, 0.918);
    border-radius: 3px;
}

header {
    padding: 20px 0 0 0;
    background: -webkit-linear-gradient(left, rgba(87, 5, 5, 0.918)100%, #430507 100%);
    text-align: center;
    width: 100%;
    border-top: 10px solid rgb(174, 10, 10);
    border-bottom: 10px solid rgb(174, 10, 10);
}

h1 {
    font-family: FreeSerif, Kinnari;
    text-align: center;
    color: antiquewhite;
    font-style: italic;
    font-size: 3rem;
    position: relative;
    align-items: center;
    display: inline-flex;
    vertical-align: top;
}

h2 {
    color: white;
}

h4 {
    font-size: 16px;
    font-weight: 700;
}

div {
    display: block;
}

.columns-header {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

#logo {
    height: 100px;
    width: 100px;
    text-align: center;
}

.borrar-plato {
    background-color: black;
    border-radius: 50%;
    padding: 10px;
    text-decoration: none;
    color: silver;
    font-weight: bold;
}

ul {
    list-style: none;
}

.social-redes {
    position: fixed;
    left: 0;
    top: 200px;
}

.social-redes ul {
    list-style: none;
}

.social-redes ul li a {
    display: inline-block;
    color: white;
    background: black;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.social-redes ul li .icon-linkedin {
    background: rgba(0, 0, 0, 0.8);
}

.social-redes ul li .icon-facebook {
    background: rgba(3, 3, 172, 0.8);
}

.social-redes ul li .icon-instagram {
    background: rgba(204, 58, 83, 0.8);
}

.social-redes ul li .icon-email {
    background: rgba(121, 116, 116, 0.8);
}

.social-redes ul li a:hover {
    background: black;
    padding: 10px 30px;
}

.hero {
    background-image: url(img/emy-XoByiBymX20-unsplash-recorte.jpg);
    height: 551px;
}

.encabezado {
    display: block;
    margin: 30px 0;
    color: rgb(117, 98, 98);
}

.submenu {
    position: relative;
    top: 30px;
    left: 50px;
}

.submenu #carrito {
    display: none;
}

#carro {
    padding: 5px;
}

#carro:hover {
    border: 1px solid rgb(113, 113, 113);
    border-radius: 3px;
}

.submenu:hover #carrito {
    display: block;
    color: rgb(255, 255, 255);
    position: absolute;
    right: 15px;
    top: 100%;
    z-index: 1;
    background: rgba(170, 9, 9, 0.8);
    padding: 60%;
    border-radius: 5px;
}

.vacio {
    padding: 10px;
    background-color: rgba(0, 0, 0);
    text-align: center;
    border-radius: 5px;
    color: white;
}

.button {
    background-color: rgba(80, 14, 80, 0.5);
    color: rgb(113, 113, 113);
}

.button:hover {
    background-color: rgba(80, 14, 80, 0.8);
    color: white;
}

.contenido-hero {
    margin-top: 80px;
    color: rgb(170, 9, 9);
    font-size: 20px;
}

.contenido-hero form {
    position: relative;
    margin-bottom: 0;
}

.contenido-hero form #buscador {
    height: 50px;
    margin-bottom: 0;
    color: black;
}

.contenido-hero .submit-buscador {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;
    background-image: url(iconos/lupa.png);
    background-position: right center;
    background-repeat: no-repeat;
    border: none;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra {
    padding: 20px 0;
    background: rgba(170, 9, 9, 0.918);
}

.barra p {
    margin: 0;
    color: white;
}

.icono {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 60px;
    background-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.icono1 {
    background-image: url(iconos/coffee-alt-solid-24.png);
}

.icono2 {
    background-image: url(iconos/food-menu-solid-24.png);
}

.icono3 {
    background-image: url(iconos/coffee-alt-solid-24.png);
}

#lista-platos .row {
    margin-bottom: 20px;
}

.agregar-carrito {
    margin: 10px 0;
}

.card {
    text-align: center;
    border: 4px solid rgba(170, 9, 9, 0.774);
    background: rgba(102, 5, 5, 0.952);
    margin-bottom: 40px;
}

.info-card {
    padding: 10px 20px;
    color: black;
}

.info-card h4 {
    margin-bottom: 5px;
    text-align: center;
    color: rgb(113, 113, 113);
}

.info-card p {
    color: #430507;
}

.info-card p {
    color: whitesmoke;
}

.info-card .precio {
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
}

.footer {
    margin-top: 40px;
    padding: 60px;
    background: -webkit-linear-gradient(left, rgba(87, 5, 5, 0.918)100%, #430507 100%);
    background-color: #b3535377;
}

.footer .menu a {
    float: left;
    width: 60%;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

.social-media {
    width: 40%;
    display: block;
}

.social-media-icon {
    float: right;
    display: block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 2px solid rgb(113, 113, 113);
    border-radius: 5px;
    text-align: center;
    color: rgb(113, 113, 113);
}

.social-media-icon:hover {
    color: white;
    border-color: white;
}

.social-media-icon i {
    font-size: 40px;
    line-height: 60px;
}

.clearfix {
    clear: both;
    float: none;
}

.mi-correo {
    font-size: 18px;
    float: right;
    color: silver;
    text-align: center;
}

.mi-phone {
    font-size: 18px;
    float: right;
    color: silver;
    text-align: center;
}

.footer-final {
    width: 100%;
    height: 20px;
    background: silver;
    text-align: center;
    color: #430507;
}

@media screen and (max-width: 600px) {
    .columns-header {
        width: 60%;
    }
    .u-pull-right {
        width: 40%;
    }
    .submenu:hover #carrito {
        padding: 40px;
    }
}

@media screen and (max-width: 450px) {
    .row {
        height: 130px;
    }
    .social-redes ul li a {
        padding: 6px 10px;
    }
    .social-redes ul li a:hover {
        padding: 8px 16px;
    }
    .columns-header {
        width: 60%;
    }
    .u-pull-right {
        width: 40%;
    }
    .submenu:hover #carrito {
        padding: 20px;
        border-radius: 3px;
    }
    .submenu {
        left: auto;
    }
    .vacio {
        padding: 5px;
    }
    h2 {
        font-size: 2.6rem;
    }
    .contenido-hero form #buscador {
        height: 60%;
    }
    input[type="text"] {
        padding: 4px 8px;
    }
    .borrar-plato {
        padding: 8px;
    }
    .footer {
        margin-top: 60%;
    }
    .footer .four {
        width: 80%;
    }
    .footer .social {
        display: block;
    }
    .footer .social-icons {
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social-media-icon {
        width: 40px;
        height: 40px;
    }
    .social-media-icon i {
        line-height: 40px;
    }
    .mi-correo {
        font-size: 14px;
    }
    .mi-phone {
        font-size: 14px;
    }
    .footer-final {
        height: 18px;
    }
}

@media screen and (max-width: 350px) {
    .row {
        height: 100px;
    }
    #logo {
        width: 80px;
        height: 80px;
    }
    .social-redes ul li a {
        padding: 3px 8px;
    }
    .social-redes ul li a:hover {
        padding: 5px 15px;
    }
    h1 {
        font-size: 20px;
    }
    .submenu {
        top: 20px;
        left: 10px;
    }
    .submenu:hover #carrito {
        width: 250px;
        border-radius: 3px;
    }
    #carrito .u-full-width {
        font-size: 10px;
    }
    #carrito img {
        width: 50px;
    }
    .vacio {
        width: 100%;
        padding: 2px;
        border-radius: 3px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
    .contenido-hero form #buscador {
        height: 40%;
    }
    input[type="text"] {
        padding: 3px 6px;
        font-size: 16px;
    }
    .barra p {
        font-size: 12px;
    }
    .borrar-plato {
        padding: 5px;
    }
    .icono {
        padding-left: 40px;
        margin-bottom: 40px;
    }
    .social-media-icon {
        width: 30px;
        height: 30px;
    }
    .social-media-icon i {
        font-size: 28px;
        line-height: 30px;
    }
    .mi-correo {
        font-size: 12px;
    }
    .mi-phone {
        font-size: 12px;
    }
    .footer .menu a {
        width: 100%;
    }
    .footer a {
        text-align: left;
    }
    .footer-final {
        height: 14px;
    }
    .footer-final p {
        font-size: 12px;
    }
}
